#ignore

#folders
release/
debug/
build-Desktop-Debug/
build-Desktop-Release/
build-Desktop-Profile/
build-Android_armeabi_v7a-Release/
build-Android_armeabi_v7a-Debug/
DebugWin/
ReleaseWin/
.externalToolBuilders/
.settings/

#files
.project
.cproject
includeheaders
.qmake.stash
Makefile
Makefile.Debug
Makefile.Release

#file types
*.o
*.d
*.exe
*.pro.user
*.so
*.dll
*.a
